@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 158 44% 8%;
    --foreground: 156 33% 96%;
    --card: 158 44% 10%;
    --card-foreground: 156 33% 96%;
    --popover: 158 44% 10%;
    --popover-foreground: 156 33% 96%;
    --primary: 147 80% 42%;
    --primary-foreground: 158 44% 10%;
    --secondary: 47 97% 59%;
    --secondary-foreground: 158 44% 10%;
    --muted: 158 44% 14%;
    --muted-foreground: 156 33% 80%;
    --accent: 47 97% 59%;
    --accent-foreground: 158 44% 10%;
    --destructive: 4 80% 50%;
    --destructive-foreground: 158 33% 98%;
    --border: 158 44% 18%;
    --input: 158 44% 18%;
    --ring: 147 80% 42%;
    --radius: 1.5rem;
  }

  html {
    scroll-behavior: smooth;
  }

  .dark {
    --background: 158 44% 4%;
    --foreground: 156 33% 96%;
    --card: 158 44% 6%;
    --card-foreground: 156 33% 96%;
    --popover: 158 44% 6%;
    --popover-foreground: 156 33% 96%;
    --primary: 147 80% 42%;
    --primary-foreground: 158 44% 10%;
    --secondary: 47 97% 59%;
    --secondary-foreground: 158 44% 10%;
    --muted: 158 44% 12%;
    --muted-foreground: 156 33% 80%;
    --accent: 47 97% 59%;
    --accent-foreground: 158 44% 10%;
    --destructive: 4 80% 50%;
    --destructive-foreground: 158 33% 98%;
    --border: 158 44% 16%;
    --input: 158 44% 16%;
    --ring: 147 80% 42%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }
}
